* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1300px;
    margin: auto;
}

.btn {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid #4e8cb6;
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 13px;
}

.btn-primary {
    background-color: #7BBC00;
    border-color: #7BBC00;
}

header {
    height: 500px;
    background-color: #0D325A;
}

.header-top {
    height: 20%;
}

.header-bottom {
    height: 80%;
    background-image: url(img/business.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

.logo-container {
    width: 15%;
    float: left;
}

#logo {
    padding-top: 26px;
}

.menu {
    width: 50%;
    float: left;
}

#main-menu li {
    display: inline-block;
}

#main-menu li a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    height: 100px;
    line-height: 100px;
    padding-right: 10px;
    font-size: 14px;
    font-weight: 700;
}

#main-menu li a:hover {
    color: #f8b71c;
}

.cta-container {
    width: 35%;
    float: left;
    height: 100%;
    text-align: right;
}

.cta-container a {
    margin: 6px;
}

.cta-container a.link {
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(255, 255, 255, 0.5);
    font-size: 13px;
    height: 100px;
    line-height: 100px;
}

#jumbo-wrapper {
    height: 400px;
    position: relative;
}

#jumbo-content {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
}

#jumbo-content h1 {
    color: white;
    font-size: 44px;
    font-weight: normal;
    margin-bottom: 40px;
}

/* GREY BLOCK */
.grey-block {
    background-color: #f9f9f9;
    height: 155px;
    position: relative;
    text-align: center;
}

.grey-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.grey-content h4 {
    font-size: 24px;
    font-weight: 100;
    margin: 8px 0;
}

.grey-content p {
    font-size: 18px;
    font-weight: 100;
    color: #999;
    margin-bottom: 16px;
}
/* END GREY BLOCK */

/* CARDS */
.cards {
    height: 540px;
}

.cards-row {
    height: 270px;
    text-align: center;
}

.cards-row div {
    height: 100%;
    width: 33%;
    float: left;
}

.cards-row hr {
    opacity: .3;
    width: 32px;
    margin: 16px auto;
}

.cards-row div img {
    height: 160px;
    margin-top: 25px;
}

.cards-row div h6 {
    font-size: 23px;
    font-weight: 500;
    color: #7fb802;
    height: 60px;
}

.cards-row div p {
    font-size: 15px;
    font-weight: 300;
    line-height: 25px;
    color: #999;
    padding: 0 30px;
}

hr {
    border-top: 1px solid rgba(0,0,0,.1);
    margin: 20px 0;
}
/* END CARDS */


/* SECTION MOUNTAIN */
.mountain {
    height: 490px;
    padding: 40px 0;
}

.mountain-column {
    width: 50%;
    float: left;
}

.column-text-wrapper {
    width: 65%;
    margin: auto;
    padding-top: 80px;
}

.mountain-column img {
    width: 417px;
}

.mountain-column h2 {
    color: #4a4a4a;
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
}

.mountain-column p {
    font-size: 18px;
    font-weight: 300;
    margin: 15px 0;
    line-height: 25px;
    color: #999;
}

.mountain-column a {
    color: #98c8f8;
}
/* END MOUNTAIN */


/* SECOND GREY */
.second-grey {
    height: 135px;
    background-color: #f9f9f9;
}

.second-grey-content {
    height: 135px;
}

.first-content {
    height: 100%;
    width: 50%;
    float: left;
    position: relative;
}

.second-content {
    width: 50%;
    float: left;
    text-align: right;
}

.first-content h3 {
    color: #4a4a4a;
    font-size: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.second-content span {
    color: #b2b2b2;
    font-size: 26px;
    line-height: 135px;
    margin-right: 50px;
}




/* END SECOND GREY */